._4xqv{background-color:#ebedf0}._64pf{background-color:#fff;border-radius:4px;height:340px;overflow:hidden}._4xqu{background-color:#fff;border-color:#dadde1}
._x19{flex-grow:1}

#bootloader_kdQTb{height:42px;}.bootloader_kdQTb{display:block!important;}