._32o5{background-color:#54c7ec;height:44px;position:relative;width:44px}._32od{left:10px;position:absolute;top:10px}
._nvf{align-items:center;margin:8px 7px 4px 7px}._3wku{height:28px;min-width:44px}._3wkw{color:#4b4f56;font-size:13px;max-width:170px}

#bootloader_S4hYr{height:42px;}.bootloader_S4hYr{display:block!important;}